div{
	font-size: 20px;
	font-weight: 500;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	z-index: 0;
	position: absolute;
	left: 215px;
	top: 359px;
	width: 1000px;
	height: 198px;
	box-decoration-break: clone;
}
h2{
	text-align: center;
	z-index: 0;
	position: absolute;
	left: 404px;
	top: 312px;
	width: 516px;
	height: 65px;
	box-decoration-break: clone;
}
