div{
    background-color: rgba(200,10,20,0.05);
    border-radius: 40px;
    border: 7px solid white;
    background-image: url(img/pix.jpg);
    margin: 0 auto;
	font-size: 20px;
	font-weight: 500;
	font-family: cursive;
	text-align: center;
	z-index: 0;
	position: absolute;
	left: 280px;
	top: 359px;
	width: 800px;
	height: 300px;
	box-decoration-break: clone;
}
h2{
   
    margin: 0 auto;
	text-align: center;
	z-index: 0;
	position: absolute;
	left: 404px;
	top: 312px;
	width: 516px;
	height: 65px;
	box-decoration-break: clone;
}
